
$background: #060912;
$foreground: #B6D8EF;

$palette:  [
 #060912
 #1F273C
 #2F3C5D
 #34558E
 #3D507A
 #536A9F
 #769CCD
 #B6D8EF
 
 #1E1119
 #111726
 #A584B0
 #583F58
 #9D5156
 #311821
 #DB7A59
 #172D2B
];

